/*-----------------Content -----------
1- Header design
2- Button icon
3-  Modal (pop up)
4- Pesponsive Disign (media Query)
--------------------------------------*/


/* ---------- 1- Header design----------------- */


header.flex {
  justify-content: space-between;
  padding: 0 2.4rem;
  margin-top: 1.2rem;
}
header.flex nav {
  background-color: var(--bgheader);
  padding: 0.76rem 1.6rem;
  border-radius: 55px;
  box-shadow: 1px 1px 40px #54535371;
}
header ul.flex {
  gap: 16px;
}
header ul li a {
  color: var(--title);
  opacity: 0.9;
  font-size: 0.88rem;
  font-weight: 500;
}
header ul li a:hover {
  color: var(--info);
  opacity: 1;
  font-size: 0.9rem;
}


/* ------------------ 2- Button icon ---------------- */
header button {
  font-size: 1.2rem;
}
header.flex button.menu {
  display: none;
}

/* ------------- 3-  Modal (pop up) -------------- */
header.flex .fixed {
  position: fixed;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  inset: 0;
  background-color: rgb(40, 39, 47, 0.9);
  /* filter: blur(8px); */
  backdrop-filter: blur(4px);
}

@keyframes mymove {
  0%   {scale: 0;}
  60% {scale: 1.2;}
  100% {scale: 1;}
} 

header.flex .fixed ul.modal {
  animation: mymove 0.7s 1;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  background-color: var(--secondary);
}
header.flex .fixed ul.modal li{
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.77rem;
  padding-top: 0.5rem;
}

header.flex .fixed ul.modal li:last-child{
  border-bottom: none;
}
header.flex .fixed ul.modal li:first-child{
  text-align: right;
  border: none;
  padding-bottom: 0;
  padding-top: 0.2rem;
  margin-bottom: -1rem;
}

header.flex .fixed ul.modal li a{
  font-size: 1rem ;
}


/* icon */
header .icon-menu, header button.mode{

  background-color: var(--bgheader);
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  text-align: center;
  color: var(--subtitle);
  border: 1px solid rgba(244, 165, 96, 0.294);
}

header .icon-menu:hover, header button.mode:hover{
 border: 1px solid rgba(244, 160, 87);
 color: var(--title);
 
  cursor: pointer;
}
header .icon-cancel{
  font-size: 1.5rem;
  color: var(--subtitle);
}
header .icon-cancel:hover{
  font-size: 1.7rem;
  color: crimson;
  transition: 0.3s;
  rotate: 180deg;
}


/*  ----------------- 4- Pesponsive Disign (media Query) --------------- */
@media (max-width: 700px) {
  header.flex nav {
    display: none;
  }
  header.flex button.menu {
    display: block;
  }
}